<a href="https://colab.research.google.com/github/ngntrgduc/learning-python/blob/master/Itertools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Itertools

In [ ]:
from itertools import permutations
a = [1, 2, 3, 4]
permu = permutations(a)
print(permu)
print(list(permu))

permu = permutations(a, 2)
print(list(permu))

<itertools.permutations object at 0x7f9a782daa10>
[(1, 2, 3, 4), (1, 2, 4, 3), (1, 3, 2, 4), (1, 3, 4, 2), (1, 4, 2, 3), (1, 4, 3, 2), (2, 1, 3, 4), (2, 1, 4, 3), (2, 3, 1, 4), (2, 3, 4, 1), (2, 4, 1, 3), (2, 4, 3, 1), (3, 1, 2, 4), (3, 1, 4, 2), (3, 2, 1, 4), (3, 2, 4, 1), (3, 4, 1, 2), (3, 4, 2, 1), (4, 1, 2, 3), (4, 1, 3, 2), (4, 2, 1, 3), (4, 2, 3, 1), (4, 3, 1, 2), (4, 3, 2, 1)]
[(1, 2), (1, 3), (1, 4), (2, 1), (2, 3), (2, 4), (3, 1), (3, 2), (3, 4), (4, 1), (4, 2), (4, 3)]

In [ ]:
from itertools import combinations, combinations_with_replacement
a = [1, 2, 3, 4]
comb = combinations(a, 2)
print(list(comb))

comp_wr = combinations_with_replacement(a, 2)
print(list(comp_wr))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]
[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

In [ ]:
from itertools import accumulate
a = [1, 2, 3, 4]
acc = list(accumulate(a))
print(a)
print(acc)
print(acc[-1])

import operator
acc = accumulate([1,2,3,4], func=operator.mul)
print(list(acc))

acc = list(accumulate([1,5,2,6,3,4], func=max))
print(acc)
print(acc[-1])
print(max(acc))

[1, 2, 3, 4]
[1, 3, 6, 10]
10
[1, 2, 6, 24]
[1, 5, 5, 6, 6, 6]
6
6

In [ ]:
from itertools import groupby

def smaller_than_3(x):
    return x < 3

group_obj = groupby([0, 1, 2, 3, 4, 5], key=smaller_than_3)
for key, group in group_obj:
    print(key, list(group))
    
group_obj = groupby([0, 1, 2, 3, 4, 5], key=lambda x: x < 3)
for key, group in group_obj:
    print(key, list(group))

persons = [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}, 
           {'name': 'Lisa', 'age': 27}, {'name': 'Claire', 'age': 28}]

for key, group in groupby(persons, key=lambda x: x['age']):
    print(key, list(group))

True [0, 1, 2]
False [3, 4, 5]
True [0, 1, 2]
False [3, 4, 5]
25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

In [ ]:
from itertools import count, cycle, repeat
for i in count(10):
    print(i, end = " ")
    if  i >= 20:
        break

# cycle(iterable) : cycle infinitely through an iterable
print("")
sum = 0
for i in cycle([1, 2, 3]):
    print(i, end = " ")
    sum += i
    if sum >= 12:
        break

# repeat(x): repeat x infinitely or n times
print("")
for i in repeat("A", 3):
    print(i, end = " ")

10 11 12 13 14 15 16 17 18 19 20
1 2 3 1 2 3
A A A

In [5]:
from itertools import chain
a = 'ABC'
b = 'DEF'
c = chain(a, b)
print(c)
print(list(c))

print(list(chain([1, 2, 3], [4, 5, 6])))

<itertools.chain object at 0x7fdf3865f9d0>
['A', 'B', 'C', 'D', 'E', 'F']
[1, 2, 3, 4, 5, 6]